{% extends 'website/dashboard/base.html' %}
{% load static %}

{% block title %} All Product | Stock_MS {% endblock %}


{% block body %}

{% if user.is_superuser %}
<h2 class="text-2xl mb-6 font-semibold ">All Product</h2>
<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-4">Id</th>
              <th scope="col" class="px-6 py-4">Product Name</th>
              <th scope="col" class="px-6 py-4">Product Description</th>
              <th scope="col" class="px-6 py-4">Price</th>
              <th scope="col" class="px-6 py-4">Discount</th>
              <th scope="col" class="px-6 py-4">Quantity</th>
              <th scope="col" class="px-6 py-4">Top Selling</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b dark:border-neutral-500">
              <td class="whitespace-nowrap px-6 py-4 font-medium">1 </td>
              <td class="whitespace-nowrap px-6 py-4">Redmi 13c</td>
              <td class="whitespace-nowrap px-6 py-4">Otto</td>
              <td class="whitespace-nowrap px-6 py-4">@mdo</td>
            </tr>
          {% for p in products %}
          <tr class="border-b dark:border-neutral-500">
              <td class="whitespace-nowrap px-6 py-4 font-medium">3</td>
              <td class="whitespace-nowrap px-6 py-4">{{p.id}}</td>
              <td class="whitespace-nowrap px-6 py-4"> {{p.name}} </td>
              <td class="whitespace-nowrap px-6 py-4"> {{p.description}} </td>
              <td class="whitespace-nowrap px-6 py-4"> {{p.price}} </td>
              <td class="whitespace-nowrap px-6 py-4"> {{p.discount}} </td>
              <td class="whitespace-nowrap px-6 py-4"> {{p.quantity}} </td>
              <td class="whitespace-nowrap px-6 py-4"> {{p.top_selling}} </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}