{% load static %}
<section class="w-full dark:bg-slate-800 bg-slate-400 py-24 ">
    <div class="container max-w-screen-xl  text-center px-5">
        <h2 class="font-semibold text-2xl sm:text-3xl md:text-4xl leading-tight"> Our Services </h2>
        <p class="mt-4 text-xl lg:text-2xl px-4 max-w-screen-md mx-auto">Nunc nonummy metus. Donec elit
            libero, sodales nec, volutpat a, suscipitnon, turpis. </p>
        <div
            class="flex flex-col md:flex-row items-center md:items-stretch justify-around xl:justify-between pt-4 pb-8 gap-y-16 gap-x-8 flex-wrap">

            <div
            class="w-[90vw] max-w-sm pt-20 pb-12  dark:bg-slate-800 dark:text-slate-200">
                <div class="py-2 px-10 text-center">
                    <div class="relative w-24 h-24  mx-auto mb-8">
                        <img src="{% static 'images/home/shopping-cart.png' %}" alt="shopping cart" />
                    </div>
                    <h3 class="font-semibold text-2xl">Sales </h3>
                    <p class="text-lg lg:text-xl text-slate-600 dark:text-slate-200">Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Eligendi, nostrum! Culpa quisquam  </p>
                </div>
            </div>
            <div
            class="w-[90vw] max-w-sm pt-20 pb-12  dark:bg-slate-800 dark:text-slate-200">
                <div class="py-2 px-10 text-center">
                    <div class="relative w-24 h-24  mx-auto mb-8">
                        <img src="{% static 'images/home/delivery-man.png' %}" alt="delivery man" />
                    </div>
                    <h3 class="font-semibold text-2xl">Delivery </h3>
                    <p class="text-lg lg:text-xl text-slate-600 dark:text-slate-200">Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Eligendi, nostrum! Culpa  </p>
                </div>
            </div>
            <div
                class="w-[90vw] max-w-sm pt-20 pb-12  dark:bg-slate-800 dark:text-slate-200">
                <div class="py-2 px-10 text-center">
                    <div class="relative w-24 h-24  mx-auto mb-8">
                        <img src="{% static 'images/home/supermarket.png' %}" alt="super market" />
                    </div>
                    <h3 class="font-semibold text-2xl">Store </h3>
                    <p class="text-lg lg:text-xl text-slate-600 dark:text-slate-200">Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Eligendi, nostrum! Culpa quisquam </p>
                </div>
            </div>
        </div>
    </div>
</section>