<div class="w-full text-left">
    <!-- <label class="block capitalize tracking-wide text-gray-700 text-sm md:text-lg font-medium mb-2" htmlfor={{name}}>
        {% if True %} {{ label }}
        {% else %}
        {% endif %}
    </label> -->
 
    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-primary-main rounded py-3 px-4 leading-tight focus:outline-none"
        id="{{name}}" type="text" placeholder={{placeholder}} aria-labelledby="{{label}}" />
    <p class=" text-xs italic">
        {% if messages %} <span class="text-red-500">{{message} } </span>
        {% else %}
        <span class="text-slate-700 ">{{helperText}} </span>
        {% endif %}
    </p>
</div>