{% extends 'website/dashboard/base.html' %}
{% load static %}

{% block title %} User Account | Stock_MS {% endblock %}


{% block body %}

<h2 class="text-2xl mb-6 font-semibold ">User Profile</h2>
<div class="flex flex-col gap-y-6">

    <p class="bg-slate-300">
        <span class="text-xl w-48 inline-block bg-slate-400 p-4">First Name:</span> <span
            class="capitalize font-semibold text-xl  pl-4"> {{user.get_short_name}} </span>
    </p>

    <p class="bg-slate-300">
        <span class="text-xl w-48 inline-block bg-slate-400 p-4">Last Name:</span> <span
            class="capitalize font-semibold text-xl pl-4"> {{user.last_name}} </span>
    </p>

    <p class="bg-slate-300">
        <span class="text-xl w-48 inline-block bg-slate-400 p-4">Email:</span> <span class="font-semibold text-xl pl-4">
            {{user.email}}</span>
    </p>
    <p class="bg-slate-300">
        <span class="text-xl w-48 inline-block bg-slate-400 p-4">Phone Number:</span> <span
            class="font-semibold text-xl pl-4"> {{user.phone}}</span>
    </p>
</div>

{% endblock %}