{% extends 'base.html' %}
{% load static %}

{% block title %} Register | Stock_MS {% endblock %}

{% block body %}
<div class="container py-36">
    <div class="max-w-md mx-auto">
        {% if messages %}
        {% for message in messages %}
        <p class="text-red-400"> {{message}}</p>
        {% endfor %}

        {% endif %}
        <h2 class="font-semibold text-2xl mb-4">Create Account</h2>
        <p class="ml-auto flex justify-end mb-1">
            <a href="{% url 'website:login' %}" class="underline text-sm text-blue-800"> Have an account?</a>
        </p>
        <form method="post" class="">
            {% csrf_token %}

            <div class="flex flex-col gap-y-2 max-w-screen-xl mb-4">
                <p class=" flex flex-col">
                    {{ form.first_name.as_field_group }}</p>
                <p class=" flex flex-col">
                    {{ form.last_name.as_field_group }}</p>
                <p class=" flex flex-col">
                    {{ form.email.as_field_group }}</p>
                <p class=" flex">
                    {{ form.user_category.as_field_group }}</p>

                <p class=" flex flex-col">
                    {{ form.password.as_field_group }}</p>
            </div>

            <button class="font-semibold px-4 py-2 border border-blue-500 rounded-lg inline-block">Sign up</button>
        </form>
        <p class="text-center text-sm mt-4">By signing up, you agree to our terms of service and our privacy policy</p>

    </div>
</div>
{% endblock %}