{% extends 'base.html' %}
{% load static %}

{% block title %} Products {% endblock %}

{% block body %}



<div class="container max-w-screen-xl  text-center px-5 pb-20 pt-32">
    <h2 class="font-semibold text-2xl sm:text-3xl md:text-4xl leading-tight">All Products </h2>
    <p class="mt-4 text-xl lg:text-2xl mb-12 px-4 max-w-screen-md mx-auto">Curated list of our available products given
        you a wide range of options to choose from</p>
    <div
        class="flex flex-col md:flex-row items-center md:items-stretch justify-around xl:justify-between py-8 gap-y-16 gap-x-8 flex-wrap">

        <div
            class="w-[90vw] max-w-sm pt-20 pb-12 drop-shadow-xl border border-slate-500 rounded-lg dark:bg-slate-800 dark:text-slate-200 relative">

            <p class="absolute right-2 top-2 text-red-400 text-lg font-semibold p-2 bg-slate-100/90">-7%</p>
            <div class="py-2 px-2 text-left">
                <div class="w-full h-96  mx-auto mb-8">
                    <img src="{% static 'images/products/Hisense_smart_uhd_1.jpg' %}" alt="hisense" width="100%"
                        height="auto" />
                </div>
                <h3 class="text-xl">Hisense Smart UHD </h3>
                <p>
                    <span class="font-semibold text-xl">90,000</span> <span
                        class="ml-2 text-lg line-through">85,000</span>
                </p>
                <p> 50 items left</p>
            </div>
        </div>

        <div
            class="w-[90vw] max-w-sm pt-20 pb-12 drop-shadow-xl border border-slate-500 rounded-lg dark:bg-slate-800 dark:text-slate-200 relative">

            <p class="absolute right-2 top-2 text-red-400 text-lg font-semibold p-2 bg-slate-100/90">-5%</p>
            <div class="py-2 px-2 text-left">
                <div class="w-full  mx-auto mb-8   h-96">
                    <img src="{% static 'images/products/HP_notebook_14_1.jpg' %}" alt="hisense" width="100%"
                        height="auto" />
                </div>
                <h3 class="text-xl">HP Notebook 14, Core i7, 5th Gen </h3>
                <p>
                    <span class="font-semibold text-xl">150,000</span> <span
                        class="ml-2 text-lg line-through">185,000</span>
                </p>
                <p> 13 items left</p>
            </div>
        </div>

        <div
            class="w-[90vw] max-w-sm pt-20 pb-12 drop-shadow-xl border border-slate-500 rounded-lg dark:bg-slate-800 dark:text-slate-200 relative">

            <p class="absolute right-2 top-2 text-red-400 text-lg font-semibold p-2 bg-slate-100/90">-9%</p>
            <div class="py-2 px-2 text-left">
                <div class="w-full  mx-auto mb-8  h-96">
                    <img src="{% static 'images/products/samsung_galaxy_a14_1.jpg' %}" alt="hisense" width="100%"
                        height="auto" />
                </div>
                <h3 class="text-xl">Samsung Galaxy 14 pro </h3>
                <p>
                    <span class="font-semibold text-xl">250,000</span> <span
                        class="ml-2 text-lg line-through">385,000</span>
                </p>
                <p> 21 items left</p>
            </div>
        </div>

        {% for product in products %}
        <!-- {{product}} -->
        <a href="{% url 'website:single-product' product.name %}">
            <div
                class="w-[90vw] max-w-sm pt-20 pb-12 drop-shadow-xl border border-slate-500 rounded-lg dark:bg-slate-800 dark:text-slate-200 relative">

                <p class="absolute right-2 top-2 text-red-400 text-lg font-semibold p-2 bg-slate-100/90">- {{ product.discount }} %</p>
                <div class="py-2 px-2 text-left">
                    <div class="w-full  mx-auto mb-8  h-96">
                        <img src="{% static  product.featured_image %}" alt="{{product.name}}"
                            width="100%" height="auto" />
                        <!-- <img src="/static/images/products/xiami_redmi_a21_WSps9u6.jpg" alt="{{product.name}}"
                            width="100%" height="auto" /> -->
                    </div>
                    <h3 class="text-xl"> {{product.name}} </h3>
                    <p>
                        <span class="font-semibold text-xl"> {{product.price}} </span>
                        <span class="ml-2 text-lg line-through"> {{product.price }} </span>
                    </p>
                    <p> {{ product.quantity }} items left</p>
                </div>
            </div>
        </a>

        {% endfor %}

    </div>
</div>


{% endblock %}